/*body*/
body{
    background-color: #121212
    
    }
    .nosotros{
        font-size: xx-large;
        color: white;
    
    }
    .MENU{
    
        font-size: xx-large;
        color: white;
    
    
    }
    .container{
        margin-left: 10rem;
        justify-content: space-around;
        margin-right: 3rem;
    }
    